<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>面试类型</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 面试分类管理<span class="c-gray en">&gt;</span> 面试类型<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.pathname+'?PageNo=1&PageSize=100');" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> 
       <span class="l">
           <a href="javascript:;" onclick="interviewCategory_add('')" class="btn btn-primary radius">
               <i class="Hui-iconfont">&#xe600;</i> 新增</a> 
           <a class="btn btn-danger radius" onclick="interviewCategory_edit()" href="javascript:;">
               <i class="Hui-iconfont">&#xe6df;</i> 修改</a>
           <a class="btn btn-secondary radius" onclick="interviewCategory_del()" href="javascript:;">
               <i class="Hui-iconfont">&#xe607;</i> 删除</a>
       </span> 
       <span class="r">共有数据：<strong>$!{total}</strong> 条</span> 
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort" id="gridtable">
            <thead>
                <tr class="text-c">
                    <th><input name="" type="checkbox" value=""></th>
                    <th>序号</th>
                    <th>面试类型</th>
                    <th>面试问题类型</th>
                    <th>面试问题类型value</th>
                </tr>
            </thead>
            <tbody>
            #foreach( $row in $rows )
                <tr class="text-c">
                    <td><input name="table_checkbox" id="checkbox_$!{row.getInterviewCategoryId()}" type="checkbox" value="$!{row.getInterviewCategoryId()}"></td>
                    <td>$!{row.getInterviewCategoryId()}</td>
                    <td>$!{row.getInterviewCategoryType()}</td>
                    <td>$!{row.getInterviewCategoryQuestionType1()}</td>
                    <td>$!{row.getInterviewCategoryQuestionType()}</td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="../../lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
oTable = $('.table-sort').dataTable({
    "aaSorting": [[ 1, "desc" ]],//默认第几个排序
    "bStateSave": true,//状态保存
    "aoColumnDefs": [
      {"bVisible": false, "aTargets": [4]}, //控制列的隐藏显示
      {"orderable":false,"aTargets":[0,3]}// 制定列不参与排序
    ]
});

$("#gridtable tbody tr").click(function(e) {
    if ($(this).hasClass('row_selected')) {
        $(this).removeClass('row_selected');
        var aData = oTable.fnGetData(this);
        if (null != aData) {
            $("input[id='checkbox_"+aData[1]+"']").prop("checked",false);
        }
    } else {
        $(this).addClass('row_selected');
        var aData = oTable.fnGetData(this);
        if (null != aData) {
            $("input[id='checkbox_"+aData[1]+"']").prop("checked",true);
        }
    }
});

$("#gridtable tbody tr").dblclick(function() {
    var aData = oTable.fnGetData(this);
    if (null != aData) {
    	interviewCategory_add(aData[1]);
    }
});
function interviewCategory_add(interviewCategoryId){
    layer.open({
        type: 2,
        area: ['500px','300px'],
        fix: false, //不固定
        maxmin: true,
        shade:0.4,
        title: '面试类型设定',
        content: '../procedure/interviewCategory-edit.htm?interviewCategoryId='+interviewCategoryId,
        btn: '提交',
        btnAlign: 'c',
        btn1:function(index,layero){
        	var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            iframeWin.formSubmit();
        }
    });
}

function interviewCategory_edit(){
    var checkRows = $("input[name='table_checkbox']:checked");
    if(checkRows.length==1){
        var interviewCategoryId=checkRows.val();
        interviewCategory_add(interviewCategoryId);
    }else{
        layer.msg("请选择一条信息", {icon: 5,time: 1000});
    }
}

function interviewCategory_del(){
    var checkRows = $("input[name='table_checkbox']:checked");
    if(checkRows.length==1){
        var interviewCategoryId=checkRows.val();
        layer.confirm('确认删除该类型?', {icon: 3, title:'确认删除'}, function(index){
              layer.close(index);
              $.post("delInterviewCategory.json",{"id":interviewCategoryId},function(result){
                  if(result.code=="1"){
                      layer.msg('success!',{icon:6});
                      location.replace('interviewCategory.htm?PageNo=1&PageSize=100');
                  }else{
                      layer.alert(result.codeDes, {icon: 5});
                      return;
                  }
              },"json");
        });
    }else{
        layer.msg("请选择一条信息", {icon: 5,time: 1000});
    }
}

function getTableContent(primaryKey,j){
    var nTrs = oTable.fnGetNodes();//fnGetNodes获取表格所有行，nTrs[i]表示第i行tr对象
    for(var i = 0; i < nTrs.length; i++){
        var rowData=oTable.fnGetData(nTrs[i]);
        if(rowData[j]==primaryKey){
            return rowData;     
        }
    }
    return null;
}
</script>
</body>
</html>